##casting and type function

In [10]:
import time
t = time.localtime(time.time())
localtime = time.asctime(t)
str = "Current Time:" + time.asctime(t)
print(str)
x = "10"
y = 5
z = int(x) + y
print(z)
print(type(x))

Current Time:Wed May 28 10:06:47 2025
15
<class 'str'>

##list and operations on it

In [5]:
even_list=[2,4,6,8,10,12,14,16,18]
# Access items
print(even_list[0])

# Loop through
for item in even_list:
    print(item)

# Add item
even_list.append(10)

# Remove item
even_list.remove(12)

# Sort
even_list.sort()

# Copy
copied_list = even_list.copy()

# List Comprehension
squares = [x**2 for x in even_list]
print(squares)

2
2
4
6
8
10
12
14
16
18
[4, 16, 36, 64, 100, 100, 196, 256, 324]

##tuple and its operations

In [11]:
import time
t = time.localtime(time.time())
localtime = time.asctime(t)
str = "Current Time:" + time.asctime(t)
print(str)
#creating tuple
print("creating tuple")
my_tuple_1= (10, 20, 30)
my_tuple_2= (40, 50, 60)

# Accessing
print("accessing tuple")
print(my_tuple_1[0])

# Looping
print("looping")
for i in my_tuple_1:
    print(i)

# Joining
print("joining")
my_tuple= my_tuple_1 + my_tuple_2
print(my_tuple)

# Updating (by converting to list and back)
print("Updating")
temp = list(my_tuple_1)
temp[0] = 100
my_tuple_1 = tuple(temp)

# Unpacking
print("unpacking")
a, b, c = my_tuple_1
print(a, b, c)

# Methods
print("methods")
print(my_tuple_1.count(20))
print(my_tuple_1.index(30))

Current Time:Wed May 28 10:10:42 2025
creating tuple
accessing tuple
10
looping
10
20
30
joining
(10, 20, 30, 40, 50, 60)
Updating
unpacking
100 20 30
methods
1
2

In [13]:
import time
t = time.localtime(time.time())
localtime = time.asctime(t)
str = "Current Time:" + time.asctime(t)
print(str)
my_set = {1, 2, 3}
my_set.add(4)
my_set.remove(2)
print(my_set)

Current Time:Wed May 28 10:25:29 2025
{1, 3, 4}

In [14]:
import array

# Create an array of integers
numbers = array.array('i', [1, 2, 3, 4, 5])

# Access elements
print(numbers[0])  # Output: 1

# Append new element
numbers.append(6)

# Loop through array
for num in numbers:
    print(num)

1
1
2
3
4
5
6

In [ ]:
shopping_list = ["milk", "bread", "eggs", "butter", "juice", "sugar", "salt", "biscuits", "tea", "coffee"]

# Display
for item in shopping_list:
    print(item)

# Add item
new_item = input("Do you want to add an item? Enter item name or press Enter to skip: ")
if new_item:
    shopping_list.append(new_item)

# Remove item
remove_item = input("Do you want to remove an item? Enter item name or press Enter to skip: ")
if remove_item:
    if remove_item in shopping_list:
        shopping_list.remove(remove_item)
    else:
        print("Item not found")

# Final list
print("Updated shopping list:")
print(shopping_list)

milk
bread
eggs
butter
juice
sugar
salt
biscuits
tea
coffee

In [18]:
def check_even_odd(number):
    if number % 2 == 0:
        print("The number is even")
    else:
        print("The number is odd")

check_even_odd(5)
check_even_odd(6)

The number is odd
The number is even

In [19]:
import math

# Using sqrt() and pi from math module
num = 25
print("Square root:", math.sqrt(num))
print("Value of pi:", math.pi)

Square root: 5.0
Value of pi: 3.141592653589793

In [20]:
marks = (65, 70, 75, 80, 85)

# I. First and last
print("First:", marks[0])
print("Last:", marks[-1])

# II. Unpack
m1, m2, m3, m4, m5 = marks

# III. Add 5
new_marks = tuple(mark + 5 for mark in marks)

# IV. Display
print("Original:", marks)
print("New:", new_marks)

First: 65
Last: 85
Original: (65, 70, 75, 80, 85)
New: (70, 75, 80, 85, 90)

In [21]:
numbers = [5, 12, 7, 18, 9, 24, 3, 16, 11]

div3 = even = odd = 0

for x in numbers:
    if x % 3 == 0:
        print(f"{x} is divisible by 3")
        div3 += 1
    elif x % 2 == 0:
        print(f"{x} is even but not divisible by 3")
        even += 1
    else:
        print(f"{x} is odd and not divisible by 3")
        odd += 1

print("Divisible by 3:", div3)
print("Even (not div by 3):", even)
print("Odd (not div by 3):", odd)

5 is odd and not divisible by 3
12 is divisible by 3
7 is odd and not divisible by 3
18 is divisible by 3
9 is divisible by 3
24 is divisible by 3
3 is divisible by 3
16 is even but not divisible by 3
11 is odd and not divisible by 3
Divisible by 3: 5
Even (not div by 3): 1
Odd (not div by 3): 3

In [22]:
def classify_numbers(numbers):
    count = {'positive': 0, 'zero': 0, 'negative': 0}

    for num in numbers:
        if num > 0:
            print(f"{num} is positive")
            count['positive'] += 1
        elif num == 0:
            print(f"{num} is zero")
            count['zero'] += 1
        else:
            print(f"{num} is negative")
            count['negative'] += 1

    return count

result = classify_numbers([5, -2, 0, 7, -8])
print("Summary:", result)

5 is positive
-2 is negative
0 is zero
7 is positive
-8 is negative
Summary: {'positive': 2, 'zero': 1, 'negative': 2}